@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body, h1 {
    font-family: Comfortaa;
}

#stuff {
  border: 2px solid darkgrey;
  background-color: grey;
  padding: 20px;
}


body {
  background-color: black;
  background-image: linear-gradient(135deg, #ff00a7, #f4791f, #ffdb00, #1fb8ff, #00ff5a, #ff00a7);
  background-size: 600% 600%;
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


button {
  border-radius: 5px; /* Rounded edges */
  background-color: green; /* Green background */
  padding: 10px 20px; /* Padding for the button */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Shadow effect */
  transition: all 0.3s ease-in-out; /* Animation transition */
}


button:hover {
  transform: translateY(-2px); /* Move button up */
  box-shadow: 2px 5px 10px rgba(0,0,0,0.5); /* Increase shadow effect */
}
		.fa {
			font-size: 48px;
			line-height: 1;
			color: #fff;
			border-radius: 50%;
			text-align: center;
			display: inline-block;
			transition: all .3s ease;
			margin: 10px;
			padding: 20px;
		}
		.fa:hover {
			transform: scale(1.1);
			cursor: pointer;
		}
		.fa-twitter {
			background-color: #1DA1F2;
		}
		.fa-youtube {
			background-color: #FF0000;
		}
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 90%;
  }
}

